<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body class="text-dark">
  <header>
    <nav class="navbar navbar-dark  bg-dark">
      <span class="navbar-brand mb-0 h1">家庭記帳本</span>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/e894f3ee92.js" crossorigin="anonymous"></script>
</body>

</html>